/* form main div */
.form-main-div {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    border-radius: 15px;
    box-shadow: 18px 18px 2px rgb(80, 81, 80);
    border: 2px solid rgb(73, 75, 73);
    padding: 20px 25px;
}

/* form title */
.form-title {
    color: black;
    font-size: 36px;
    margin: 10px;
    text-align: center;
    font-weight: 400;
}

/* all input filds  */
.all-inputfild-div {
    display: flex;
    justify-content: center;
    align-self: center;
}

/* input filds  */
.input-filds {
    padding: 12px 15px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    width: 270px;
    color: black;
    border-radius: 35px;
    border: 2px solid rgb(151, 203, 236);
    background-color: rgb(228, 228, 228);
}

.or-part {
    color: rgb(89, 89, 89);
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

/* img for sing in method */
.text-or {
    text-align: center;
}

.icon-img {
    width: 45px;
    border: 2px solid rgb(255, 255, 255);
}

.icon-img:hover {
    border: 2px solid rgb(142, 255, 148);
    border-radius: 50px;
}

.main-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
}